@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

ngb-rating {
    color: #FFC107;
    font-size: 1.7em;
    span {
    padding: 0px 0px 10px 10px;
    }
}

.price {
    margin-top: 20px;
    h4 {
        font-size: 1em;
        font-weight: 700;
        padding-bottom: 10px;
    }
    p { 
        font-size: 0.9em;
    }
}

.bi {
    cursor: pointer;
}

.reviews {
    .row {
        background: #0275d8;
        color: #f1f4f8;
        padding: 15px;
        margin-bottom: 25px;
        margin-left: 1px;
        margin-right: 10px;
        box-shadow: 9px 9px 5px #b3b3b3
    }
    .rname {
        font-weight: 700;
    }
    form button {
        color: white;
        border-color: white;
    }
    form button:hover {
        background-color: white;
        color: #0275d8;
    }
}

.ratings {
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
    button {
        font-size: 0.7em;
        padding: 2px 12px 2px 12px;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .price {
        margin-top: 20px;
        .pull-right {
            text-align: right;
        }
    }
    .ratings {
        .pull-right {
            text-align: right;
        }
        #opinions {
            padding-top: 15px;
        }
    }
  }

  @media only screen and (max-width: 768px) {
      .ratings {
          padding-bottom: 30px;
      }
  }