<div class="pdetail">
    <div class="product-detail-image" style="
    background-image: url('https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmljeWNsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;"></div>
    <div class="price">
        <div class="row">
        <h4 class="col-md-6">{{ product.title }}</h4>
        <h4 class="col-md-6 pull-right">Cena: {{ product.price }}</h4></div>
        <p>{{ product.description }}</p>
    </div>
    <div class="ratings">
        <div class="row">
            <div class="col-md-6"><stars [rating]="product.rating"></stars></div>
            <div class="col-md-6 pull-right" id="opinions">
                <button class="btn btn-primary btn-xs" (click)="toggleReviews()">{{ show }}</button>
                <strong>Opinie: </strong> {{ reviews.length }}
            </div>
        </div>
    </div>
</div>
<div class="reviews" [hidden]="hidden">
    <div class="row" *ngFor="let review of reviews">
        <hr>
        <div class="col-md-12">
            <stars [rating]="review.rating"></stars>
            <span class="rname"><b>{{ review.user }} </b> </span>
            <span class="pull-right">({{ review.timeStamp | date: 'shortDate' }})</span>
            <p>{{ review.comment }}</p>
        </div>
    </div>
    <div class="row" id="addcomment">
        <div class="col-md-12">
            <h4 style="font-family: 'Oxygen', sans-serif;
            font-weight: 700;">Podziel się swoją opinią!</h4>
        <form style="font-family: 'Oxygen', sans-serif;">
            <div class="form-group">
              <label for="username">Nazwa użytkownika</label>
              <input type="email" class="form-control" id="username" placeholder="Tutaj wpisz swoją nazwę użytkownika">
            </div>
            <div class="form-group">
              <label for="userrate">Podaj swoją ocenę</label>
              <select class="form-control" id="userrate">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="usercomment">Tutaj wpisz treść komentarza</label>
              <textarea class="form-control" id="usercomment" rows="5"></textarea>
            </div>
            <button type="button" class="btn btn-outline-info btn-block">Dodaj opinię</button>
        </form>
        </div>
    </div>
</div>