@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;500;600;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap');


$bgcolor: #292b2c;
$navfont: #212529;
$navhover: rgba(192, 192, 192, 0.1);
$gre: rgba(192, 192, 192, 0.1);
$tlo: rgba(192, 192, 192, 0.1);
$czcionka: #0E2431;
$hover: #1266F1;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: $tlo;
}

.scrolling {
    box-shadow: 0px 2px 5px black;
    background: rgb(27, 28, 30);
    border-style: none;
    margin-top: -70px;
    transition-duration: 1.5s;
}

nav {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 1em;
    position: fixed;
    color: white;
    border-bottom: 1px groove white;
    z-index: 10;
    width: 100%;
    margin: -70px auto auto auto;
    padding-top: 2px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 1s;
    h3 {
        font-family: 'Dr Sugiyama', cursive;
        padding-left: 20px;
    }
    ul {
        list-style: none; 

    }
    .navbarlinks {
        font-weight: 500;
    }
    ul li a{
        text-decoration: none;
        color: white;
    }
    ul li a:hover {
        color: $hover;
        border-bottom: 3px solid $hover;
        padding-bottom: 2px;
    }
    ul li {
        width: auto;
        padding: 15px 30px 15px 30px;
        text-align: center;
        background: rgba(192, 192, 192, 0);
        display: inline-block;
        font-weight: 600;
    }
    .hamburger {
        float: right;
        div {
            width: 30px;
            height: 4px;
            border-radius: 20%;
            background-color: white;
            margin: 6px;
            transition: all 0.4s ease;
        }
    }
      #navactive {
        transform: translateX(0%);
    }
    .animateburger .line1 {
        transform: rotate(45deg) translate(8px, 6px);
    }
    .animateburger .line2 {
        opacity: 0;  
    }
    .animateburger .line3 {
        transform: rotate(-45deg) translate(8px, -6px);
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navbarlinks {
        background: rgba(27, 28, 30, 0.3);
    }
    .scrolling {
        background: rgb(27, 28, 30);
    }
    nav {
        font-size: 0.9em;
        padding: 7px;
        height: 50px;
        background: rgba(27, 28, 30, 0.3);
        border-style: none;

    .navbarlinks {
        justify-content: space-around;
        position: absolute;
        height: 75vh;
        width: 50vw;
        top: 40px;
        box-shadow: 0px 3px 4px rgba(14, 36, 49, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
        margin-top: 3px;
        z-index: 10;
    }
    .navbarlinks li {
        opacity: 0;
        a {
            text-align: center;
        }
    }
    .hamburger {
        display: block;
        margin-top: 0px;
        cursor: pointer;
    }
}
}

@media (min-width: 768px) {
    .scrolling {
        height: 50px;
        padding-top: 10px;
    }
    nav {
        font-size: 1em;
        margin: -65px auto auto auto;
    }
    .navbarlinks {
        justify-content: space-around;
        float: right;
        position: relative;
        width: auto;
    }
    .hamburger {
        display: none;
    }
}