<div class="thumbnail">
  <div class="product-item-image" style="
    background-image: url('https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmljeWNsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;"></div>
  <div class="caption">
    <h4 class="pull-right">{{ product.price | currency:'PLN '}}</h4>
    
    <p>{{ product.sale }}</p>
    <h4><a [routerLink]="['/products', product.id]">{{ product.title }}</a></h4><div class="description">
      {{ product.description }}
    </div>
  </div>
  <div>
    <stars [rating]="product.rating"></stars>
  </div>
</div>

  